/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    background: rgba(21, 21, 21, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.headerContainer {
    max-width: 1480px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.logo {
    width: 28px;
    height: 50px;
}

.name {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

/* LINKS */
.linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.headerLink {
    font-size: 14px;
    font-weight: 400;
    line-height: 200%;
    text-transform: uppercase;
    position: relative;
}

.headerLink::after {
    content: " ";
    width: 0;
    height: 4px;
    background-color: #28CA00;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.headerLink:hover::after {
    width: 100%;
}

.headerLink:hover {
    color: #28CA00;
}

/* HEADER MOBILE */

.headerMobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: rgba(21, 21, 21, 0.75);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.menuButton {
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 3vw;
}

.mobileMenu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100vh;
    background: rgba(21, 21, 21, 0.95);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
}

.mobileMenu.open {
    left: 0;
}

.mobileLink {
    font-size: 18px;
    font-weight: 500;
    color: #151515;
    text-decoration: none;
    transition: color 0.3s;
}

.mobileLink:hover {
    color: #28CA00;
}

@media screen and (max-width: 576px) {
    .header {
        display: none;
    }

    .headerMobile {
        display: flex;
    }

    .menuButton {
        width: 6vw;
    }

    .logoSection {
        width: 94vw;
        justify-content: center;
    }

    .logo {
        width: 18px;
        height: 32px;
    }

    .mobileMenu.open {
        top: 66px;
        width: 300px;
        display: flex;
        justify-content: flex-start;
        background-color: #FFF0D4;
        color: #000;
        padding-top: 50px;
    }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
    .header {
        display: none;
    }

    .headerMobile {
        display: flex;
    }

    .logoSection {
        width: 97vw;
        justify-content: center;
    }

    .mobileMenu.open {
        top: 66px;
        width: 300px;
        display: flex;
        justify-content: flex-start;
        background-color: #FFF0D4;
        color: #000;
        padding-top: 50px;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1600px) {
    .headerContainer {
        max-width: 1290px !important;
    }
}