.principalSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 214px 0 114px;
    height: 100vh;
}

.principalSectionContainer {
    max-width: 1480px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftContainer {
    display: flex;
    flex-direction: column;
}

.firstText {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.title {
    color: #28CA00;
    font-size: 40px;
    font-weight: 400;
    width: 76%;
    margin-bottom: 24px;
    text-shadow: 0 0 5px #28CA00, 0 0 10px rgba(40, 202, 0, 0.5);
}

.secondText {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 42px;
}

.button {
    border: 1px solid #FFF;
    padding: 10px 20px;
    width: 250px;
    border-radius: 29px;
    margin-bottom: 37px;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.button:hover {
    border: 1px solid #28CA00;
    background-color: #28CA00;
    color: #000;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    gap: 18px;
}

.socialMediaIcon {
    width: 30px;
    height: 30px;
}

.avatar {
    width: 359px;
    height: 456px;
}

.buttonMobile,
.socialMediaMobile {
    display: none;
}

@media screen and (max-width: 576px) {
    .principalSection {
        padding: 165px 40px 65px;
    }

    .principalSectionContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .leftContainer {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .firstText {
        font-size: 16px;
    }
    
    .title {
        font-size: 30px;
        margin-bottom: 20px;
        width: 103%;
    }
    
    .secondText {
        font-size: 18px;
        margin-bottom: 48px;
    }

    .button,
    .socialMedia {
        display: none;
    }

    .buttonMobile,
    .socialMediaMobile {
        display: flex;
    }

    .buttonMobile {
        margin-top: 48px;
        margin-bottom: 20px;
    }

    .avatar {
        width: 236px;
        height: 300px;
    }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
    .principalSection {
        padding: 165px 40px 65px;
    }

    .principalSectionContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .leftContainer {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .firstText {
        font-size: 18px;
    }
    
    .title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    
    .secondText {
        font-size: 20px;
        margin-bottom: 37px;
    }

    .button,
    .socialMedia {
        display: none;
    }

    .buttonMobile,
    .socialMediaMobile {
        display: flex;
    }

    .buttonMobile {
        margin-top: 37px;
        margin-bottom: 22px;
    }

    .avatar {
        width: 292px;
        height: 370px;
    }
}